/* I am the color scheme!
--persian-plum: #6f1d1bff;  <--special color, maybe buttons? Alerts?
--camel: #bb9457ff;         <--background card 
--bistre: #432818ff;        <--text, button color and graphics
--windsor-tan: #99582aff;   <--card body
--banana-mania: #ffe6a7ff;  <--unknown, maybe upload image background color?
?*/
.ProblemContainer{
    display: grid;
    grid-template-columns: .8fr .8fr;
    grid-template-rows: 1fr;
    
    height: 90%
}

.ProblemsList{
    display: grid;
    grid-template-rows: 20px .8fr 10px;
    width: 70%;
    background-color:  #ffe6a7ff;
    margin: 2em;
    color:  #432818ff;
    justify-content: center;
    align-items: center;
    padding: 4%;
    box-shadow: 0 0 25px -5px #000000;
    border-radius: 10px; 
    border-color: #99582aff;
    border-style: solid;
    border-width: 32px;
    text-align: left;
    font-size: larger;    
}
.specialList{
    padding-bottom: 16px;
}
/* .ProblemDetail{
    display: grid;
    grid-template-columns: 80%;
    grid-template-rows: 2px 100px 10px 20px 20px 10px 80px 80px 300px;
    color: #432818ff;
} */
h3{
    padding: 16px;
    text-align: center;
}
p{
    margin: 0%;
}
.Problems-header{
    justify-content: center;
    text-align: center;
    color: #432818ff;
    font-size: x-large;
}

#add-problem {
    background-color: #99582aff;
    float : right;
    bottom: 1px;
    padding: 9px 32px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    color: #ffe6a7ff;
    transition-duration: 0.4s;  
}

#problem-form {
    background-color: #432818ff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 12px 12px 12px 12px;
    margin-bottom: 0.1px;
    float : right;
    border-radius: 10px;
    color: #ffe6a7ff;

}
.label{
    color: #ffe6a7ff;
}
input{
    color: #432818ff;
    background-color: #ffe6a7ff;
}
textarea{
    color: #432818ff;
    background-color: #ffe6a7ff;
}

#submitProblem{
    background-color: #99582aff;
    float: center;
    padding: 9px 40px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    color: #ffe6a7ff;
    border-radius: 50px;
    float: right;
    
}